body {
    background-color: #dfd6bf;
    font-family: 'Young Serif', serif;
    font-size: 18px;
    /*Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #231F20
}

header {
    padding: 10px;
    margin: 10px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 1.75em;
    font-weight: 400;
}

h2 {
    font-size: 1.75em;
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.75em;
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration: none;
    /* no underlining */
}

a:hover {
    color: #000000;
    text-decoration: underline;
    /* underlining when hovering over a link */
}

a:visited {
    /* visted link */
    color: #000000;
}

a:active {
    /* selected link */
    color: #000000;
}

.primary-button {
    background-color: #231F20;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

.secondary-button {
    background-color: #231F20;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

img {
    width: 100%;
    height: auto;
}

.portrait-me {
    width: 50%;
}

/* Layout styling */
.container {
    float: center;
    padding: 0 15px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

#work.row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
    text-align: center;
    /* Centers text */
}

.row {
    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
  }

* {
    box-sizing: border-box;
}

nav {
    display: inline-block;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero h1 {
    padding: 20px 0;
    text-align: center;
    background: #F8F8F8;
    border: solid #BDBDBD 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

main {
    padding-top: 56px;
}

#footer {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: inline-block;
    width: 100%
}

footer {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100px;
}
.navtoggle li:not(:last-child) {
    display: none;
}

/* ==============================
Medium devices (640px and larger)
================================= 
*/
@media only screen and (min-width: 640px) {
    header {
        padding: 10px 0 4px;
        margin: 10px;
    }

    nav>ul>li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    nav>ul {
        margin: 1em 0;
    }

    body {
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        background-color: #dfd6bf;
        padding-top: 50px;
    }

    .col-md-6 {
        width: 70%;
        text-align: center;
    }

    [class*="col-"] {
        float: center;
        padding: 10px;
    }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        padding: 10px 0 4px;
        margin: 10px;
    }

    body {
        color: #000000;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6;
        background-color: #dfd6bf;

    }

    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    header {
        padding: 10px 0 4px;
        margin: 10px;
    }

    body {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.6;
        background-color: #dfd6bf;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

nav ul li {
    margin: 0 15px;
    display: inline-block;
    color:#000000;
}

#hero span {
    display: blockd;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#about-page h3 {
    margin-top: 0;
}

button {
    display: inline-block;
    background-color: #ff7f50;
    color: white;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: background-color 0.3s ease;
    /* add transition effect
    to background color */
}

button:hover {
    background-color: #cc6540;
    opacity: 0.8;
}

svg {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.mypath {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.moon {
    animation-duration: 4s;
    animation-name: moon-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moon-move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100% - 100px));
    }

}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 126, 79, 0.5);
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}