body {
    background-color: #dfd6bf;
    font-family: 'Young Serif', serif;
    font-size: 18px;
    /*Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #231F20;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 1.75em;
    font-weight: 400;
}

h2 {
    font-size: 1.75em;
    font-weight: 400;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.75em;
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration: none;
    position: relative;
    /* no underlining */
}

a:hover {
    color: #000000;
    text-decoration: underline;
    /* underlining when hovering over a link */
}

a:visited {
    /* visted link */
    color: #000000;
}

a:active {
    /* selected link */
    color: #000000;
}

.primary-button {
    background-color: #231F20;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

.secondary-button {
    background-color: #231F20;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

img {
    width: 100%;
    height: auto;
}

.portrait-me {
    width: 50%;
    display: block;
    margin: auto;
}

/* Layout styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    /* padding: 10px; */
    margin: 10px;
    color: #fff;
    padding: 10px 0;
}

.navtoggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center; /* Center items horizontally */
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.icon {
    cursor: pointer;
    display: none;
    color: #000000;
    font-size: 1.5em;
}

.button-container {
    display: inline-block; /* or use "block" if you want it to be a block-level element */
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Adjust the padding to your liking */
    text-decoration: none;
    background-color: #ff9e43; /* Button background color */
    color: #000000; /* Button text color */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove button border */
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #ff9e43; /* Change color on hover */
}

#work.row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
    text-align: center;
    /* Centers text */
}

* {
    box-sizing: border-box;
}

#hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero h1 {
    padding: 20px 0;
    text-align: center;
    background: #F8F8F8;
    border: solid #BDBDBD 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

main {
    padding-top: 56px;
}

#footer {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: inline-block;
    width: 100%
}

footer {
    text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= 
*/
@media screen and (min-width: 640px) {
    .row {
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: top; /* Center the content vertically */
        flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    }
    .col-md-6 {
        width: 50%; /* Take full width on smaller screens for stacked layout */
    }
}
@media screen and (max-width: 640px) {
    
    .navtoggle {
        flex-direction: row;
        position: relative; /* Ensure relative positioning within the container */
    }

    .nav {
        background-color: #E29953;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position the menu below the hamburger icon */
        left: 0;
        right: 0;
        z-index: 1; /* Ensure the menu is above other content */
    }

    .nav.active {
        display: flex;
    }

    .icon {
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media screen and (min-width: 1024px) {
    body {
        color: #000000;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6;
        background-color: #dfd6bf;

    }
    .col-lg-7 {
        width: 60%;
    }
    .col-lg-5 {
        width: 40%;
    }
}

#hero span {
    display: blockd;
}

#about-page h3 {
    margin-top: 0;
}

button {
    display: inline-block;
    background-color: #ff7f50;
    color: black;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: background-color 0.3s ease;
    /* add transition effect
    to background color */
}

button:hover {
    background-color: #cc6540;
    opacity: 0.8;
}

svg {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.mypath {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.moon {
    animation-duration: 4s;
    animation-name: moon-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moon-move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100% - 100px));
    }
}